SECRET_KEY=your-very-secret-key-at-least-50-chars-long
DEBUG=True
ALLOWED_HOSTS=localhost,127.0.0.1

DB_NAME=clinic_db
DB_USER=root
DB_PASSWORD=yourpassword

CLOUDINARY_CLOUD_NAME=your_cloud_name
CLOUDINARY_API_KEY=your_api_key
CLOUDINARY_API_SECRET=your_api_secret

CORS_ALLOWED_ORIGINS=http://localhost:19006,http://localhost:8081

FIREBASE_CREDENTIALS_PATH=./firebase-credentials.json

CLIENT_ID=your_oauth2_client_id
CLIENT_SECRET=your_oauth2_client_secret

BACKEND_BASE_URL=http://192.168.1.x:8000

MOMO_PARTNER_CODE=MOMOBKUN20180529
MOMO_ACCESS_KEY=klm05TvNBzhg7h7j
MOMO_SECRET_KEY=at67qH6mk8w5Y1nAyMoTkqIxteL4MR11
MOMO_ENDPOINT=https://test-payment.momo.vn/v2/gateway/api/create

VNPAY_TMN_CODE=VNPAYMENT
VNPAY_HASH_SECRET=NWNFRSSJLQOCIJXJXSQBSTUGWHGPYQKM
VNPAY_URL=https://sandbox.vnpayment.vn/paymentv2/vpcpay.html
